This script is used to read the raw data and generate `education.csv`.

In [1]:
import pandas as pd
import numpy as np

from constants import EDUCATION_DIMENSION_CSV

In [2]:
df = pd.read_csv('../raw_data/education.csv')
df.replace("..", np.nan, inplace=True)

In [3]:
columns = df.columns.tolist()
# fix column years format
for i in range(4, len(columns)):
	columns[i] = columns[i][:4]
df.columns = columns
df.head(6)

,Series Name,Series Code,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,Canada,CAN,4.76588010787964,NaN,4.7664098739624,4.62612009048462,4.84057998657227,5.356369972229,5.26205015182495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,United States,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,Mexico,MEX,4.84568977355957,4.69992017745972,4.69050979614258,4.82006978988647,5.18794012069702,5.15922021865845,5.10564994812012,5.10309982299805,4.69605016708374,5.25747013092041,5.22942018508911,4.90681982040405,4.51821994781494,4.25442981719971,NaN,NaN
3,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,India,IND,3.18875002861023,3.14284992218018,NaN,NaN,3.27824997901917,3.377690076828,3.79618000984192,3.8675000667572,3.84467005729675,NaN,3.28572988510132,3.45097994804382,NaN,NaN,NaN,NaN
4,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,Indonesia,IDN,2.8728199005127,NaN,3.04425001144409,2.90190005302429,3.52513003349304,2.81227993965149,3.18944001197815,3.40748000144959,3.35904002189636,3.28800988197327,3.58360004425049,3.5,2.6699800491333,3,2.84185004234314,NaN
5,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,"Iran, Islamic Rep.",IRN,4.05650997161865,4.28998994827271,4.59680986404419,3.91375994682312,3.84244990348816,3.70918011665344,3.48497009277344,3.16859006881714,3.06795001029968,2.80135011672974,2.79738998413086,3.36576008796692,3.79040002822876,3.9553599357605,3.66319990158081,NaN

In [4]:
# Replace missing value with the mean value for each country and attribute 
df[columns[4:]] = df[columns[4:]].T.fillna(df.mean(axis=1)).T
df.head(6)

C:\Users\THINK\AppData\Local\Temp/ipykernel_2532/3330549296.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[columns[4:]] = df[columns[4:]].T.fillna(df.mean(axis=1)).T

,Series Name,Series Code,Country Name,Country Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,Canada,CAN,4.76588010787964,NaN,4.7664098739624,4.62612009048462,4.84057998657227,5.356369972229,5.26205015182495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,United States,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,Mexico,MEX,4.84568977355957,4.69992017745972,4.69050979614258,4.82006978988647,5.18794012069702,5.15922021865845,5.10564994812012,5.10309982299805,4.69605016708374,5.25747013092041,5.22942018508911,4.90681982040405,4.51821994781494,4.25442981719971,NaN,NaN
3,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,India,IND,3.18875002861023,3.14284992218018,NaN,NaN,3.27824997901917,3.377690076828,3.79618000984192,3.8675000667572,3.84467005729675,NaN,3.28572988510132,3.45097994804382,NaN,NaN,NaN,NaN
4,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,Indonesia,IDN,2.8728199005127,NaN,3.04425001144409,2.90190005302429,3.52513003349304,2.81227993965149,3.18944001197815,3.40748000144959,3.35904002189636,3.28800988197327,3.58360004425049,3.5,2.6699800491333,3,2.84185004234314,NaN
5,"Public spending on education, total (% of GDP)",SE.XPD.TOTL.GD.ZS,"Iran, Islamic Rep.",IRN,4.05650997161865,4.28998994827271,4.59680986404419,3.91375994682312,3.84244990348816,3.70918011665344,3.48497009277344,3.16859006881714,3.06795001029968,2.80135011672974,2.79738998413086,3.36576008796692,3.79040002822876,3.9553599357605,3.66319990158081,NaN

In [5]:
attributes_dic = {
    "public_spending_percent_of_gdp": "SE.XPD.TOTL.GD.ZS",
    "literacy_rate_adult_total": "SE.ADT.LITR.ZS",
    "literacy_rate_adult_male": "SE.ADT.LITR.MA.ZS",
    "literacy_rate_adult_female": "SE.ADT.LITR.FE.ZS",
    "primary_school_enrollment_percent_of_gross": "SE.PRM.ENRR",
    "primary_school_enrollment_percent_of_net": "SE.PRM.NENR",
    "primary_completion_rate": "SE.PRM.CMPT.ZS",
    "primary_completion_male": "SE.PRM.CMPT.MA.ZS",
    "primary_completion_female": "SE.PRM.CMPT.FE.ZS",
    "secondary_school_enrollment_percent_of_gross": "SE.SEC.ENRR",
    "secondary_school_enrollment_percent_of_net": "SE.SEC.NENR",
    "tertiary_school_enrollment_percent_of_gross": "SE.TER.ENRR",
}

In [6]:
def transpose_attributes(dataframe, attribute):
	dataframe.drop(columns=["Series Name", "Series Code", "Country Name"], inplace=True)
	columns = dataframe.columns.tolist()
	return dataframe.melt(id_vars="Country Code", value_vars=columns[1:], var_name="Year", value_name=attribute)

In [7]:
# Transpose Attributes
attributes_df_dic = {}
for key, value in attributes_dic.items(): 
	filt = (df["Series Code"] == value)
	attribute_df = df.loc[filt].copy()
	attributes_df_dic[key] = transpose_attributes(attribute_df, key)

In [8]:
# Merge attributes together
attributes_lst_dic = list(attributes_df_dic.values())
education_df = attributes_lst_dic[0] 
for i in range(1, len(attributes_lst_dic)):
	education_df = pd.merge(education_df, attributes_lst_dic[i], how="left", left_on=["Country Code", "Year"], right_on=["Country Code", "Year"])
education_df.rename_axis("education_key", inplace=True)
education_df.head(30)

,Country Code,Year,public_spending_percent_of_gdp,literacy_rate_adult_total,literacy_rate_adult_male,literacy_rate_adult_female,primary_school_enrollment_percent_of_gross,primary_school_enrollment_percent_of_net,primary_completion_rate,primary_completion_male,primary_completion_female,secondary_school_enrollment_percent_of_gross,secondary_school_enrollment_percent_of_net,tertiary_school_enrollment_percent_of_gross
education_key,,,,,,,,,,,,,,
0,CAN,2005,4.76588010787964,NaN,NaN,NaN,97.3645706176758,NaN,NaN,NaN,NaN,101.391189575195,NaN,NaN
1,USA,2005,NaN,NaN,NaN,NaN,101.8740234375,94.77826,NaN,NaN,NaN,95.0524826049805,89.34377,80.6348266601563
2,MEX,2005,4.84568977355957,91.6302719116211,93.1904067993164,90.2104110717773,108.60083770752,97.87734,100.573638916016,99.6275405883789,101.548400878906,82.3040771484375,66.67768,24.2164001464844
3,IND,2005,3.18875002861023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.9690589904785,NaN,10.6796398162842
4,IDN,2005,2.8728199005127,NaN,NaN,NaN,107.955436706543,88.93075,94.2734375,93.4954605102539,95.0820388793945,60.1542892456055,53.3964,17.2262992858887
5,IRN,2005,4.05650997161865,82.4412002563477,88.0103225708008,76.8026428222656,99.1958999633789,95.32962,106.152549743652,102.176933288574,110.275550842285,77.233512878418,NaN,23.8020191192627
6,EGY,2005,4.79442977905273,67.3318710327148,77.9101333618164,56.1215515136719,95.706672668457,89.13222,91.9718627929688,95.4228897094727,88.3376312255859,NaN,NaN,30.1200008392334
7,KEN,2005,7.3356499671936,NaN,NaN,NaN,99.3462905883789,69.58856,86.942497253418,88.2794418334961,85.6027069091797,46.9905700683594,40.25251,2.93320989608765
8,NGA,2005,NaN,NaN,NaN,NaN,101.365081787109,66.85314,83.1317825317383,91.0186309814453,74.980712890625,34.9577484130859,NaN,10.491060256958
9,CAN,2006,NaN,NaN,NaN,NaN,98.8806304931641,NaN,NaN,NaN,NaN,101.728248596191,NaN,NaN
10,USA,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,MEX,2006,4.69992017745972,91.7345199584961,93.9011993408203,89.8345108032227,108.174766540527,98.05008,100.888198852539,100.1787109375,101.621002197266,84.0856018066406,67.83849,24.7904300689697
12,IND,2006,3.14284992218018,62.7544708251953,75.1919021606445,50.8237609863281,NaN,NaN,NaN,NaN,NaN,54.8829383850098,NaN,11.4863595962524
13,IDN,2006,NaN,91.9822692871094,95.1585388183594,88.786979675293,106.268379211426,91.79173,92.5608978271484,92.1051635742188,93.0359802246094,62.6410293579102,57.5779,17.280179977417
14,IRN,2006,4.28998994827271,82.3313217163086,87.2721862792969,77.2400207519531,99.7632217407227,95.87482,96.4134216308594,98.2196426391602,94.5422592163086,78.4947509765625,NaN,26.5315208435059
15,EGY,2006,4.00178003311157,66.3699111938477,74.6218032836914,57.8119087219238,97.2613220214844,88.2461,87.3576126098633,88.5505065917969,86.1012573242188,NaN,NaN,29.9295501708984
16,KEN,2006,7.04983997344971,NaN,NaN,NaN,96.347541809082,68.69264,NaN,NaN,NaN,48.7714500427246,41.16133,NaN
17,NGA,2006,NaN,70.1983489990234,76.1318664550781,64.2544937133789,102.108131408691,67.3432,91.1350326538086,101.690399169922,80.2229919433594,34.4569816589355,NaN,NaN
18,CAN,2007,4.7664098739624,NaN,NaN,NaN,98.9664764404297,NaN,NaN,NaN,NaN,101.90348815918,NaN,63.6000595092773
19,USA,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,MEX,2007,4.69050979614258,92.7951736450195,94.4415130615234,91.3555526733398,108.799713134766,98.0127,101.960693359375,101.396469116211,102.541519165039,84.9070510864258,68.93457,25.4210605621338
21,IND,2007,NaN,NaN,NaN,NaN,110.020118713379,91.12498,NaN,NaN,NaN,57.2758712768555,NaN,13.1266803741455
22,IDN,2007,3.04425001144409,NaN,NaN,NaN,109.305770874023,93.81578,96.6458129882813,97.3488388061523,95.9132385253906,70.5409164428711,64.8416,17.7949295043945
23,IRN,2007,4.59680986404419,NaN,NaN,NaN,100.373260498047,95.12881,92.1693420410156,93.4099197387695,90.8842010498047,78.097412109375,NaN,31.2185802459717
24,EGY,2007,3.68460988998413,NaN,NaN,NaN,98.3864974975586,92.40917,90.9253234863281,92.7062683105469,89.0496292114258,NaN,NaN,30.2709808349609
25,KEN,2007,NaN,72.1570281982422,78.0791473388672,66.8631210327148,102.365493774414,78.52198,NaN,NaN,NaN,50.7726707458496,43.23433,NaN
26,NGA,2007,NaN,NaN,NaN,NaN,93.3100433349609,70.31079,80.9942016601563,90.072883605957,71.6085586547852,31.8677005767822,NaN,NaN
27,CAN,2008,4.62612009048462,NaN,NaN,NaN,98.013313293457,NaN,NaN,NaN,NaN,102.344436645508,NaN,63.7673988342285
28,USA,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,MEX,2008,4.82006978988647,92.9255981445313,94.5921630859375,91.45361328125,109.424423217773,98.08626,101.29035949707,100.884307861328,101.707801818848,86.4275283813477,69.60395,26.1120300292969

In [9]:
# Output Education Dimension
education_df.to_csv(EDUCATION_DIMENSION_CSV)