This script is to process the raw data in csv format and generate the `measures.csv` which will be used to create the database.

In [10]:
import pandas as pd
import numpy as np

from constants import *

In [11]:
YEAR_LIST = [str(i) for i in range(2005, 2021)]

DEVELOPMENT_INDEX = {
    "Canada": 1,
	"United States": 1,
	"Mexico": 2,
	"India": 2,
	"Indonesia": 2,
	"Iran": 2,
	"Egypt": 2,
	"Kenya": 3,
	"Nigeria": 3,
}

In [12]:
di_df = pd.DataFrame(columns=(["Country"] + YEAR_LIST))
di_df["Country"] = COUNTRY_LIST
for y in YEAR_LIST:
    di_df[y] = DEVELOPMENT_INDEX.values()
di_df

,Country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Canada,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,United States,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,Mexico,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
3,India,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4,Indonesia,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
5,Iran,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
6,Egypt,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
7,Kenya,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
8,Nigeria,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [13]:
# HDI data from UN only is only collected from 2005 to 2019
hdi_df = pd.read_csv("../raw_data/HDI.csv")
hdi_df = hdi_df[["Country"] + [str(i) for i in range(2005, 2020)]]
hdi_df["Country"] = hdi_df["Country"].str.strip()
hdi_df = hdi_df.loc[hdi_df["Country"].isin(COUNTRY_LIST)]
hdi_df["2020"] = np.nan
hdi_df

,Country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
31,Canada,0.894,0.898,0.896,0.898,0.898,0.901,0.903,0.906,0.913,0.918,0.921,0.923,0.926,0.928,0.929,NaN
51,Egypt,0.637,0.645,0.653,0.660,0.662,0.668,0.671,0.677,0.683,0.685,0.691,0.696,0.698,0.701,0.707,NaN
77,India,0.536,0.546,0.555,0.563,0.569,0.579,0.588,0.597,0.604,0.616,0.624,0.630,0.640,0.642,0.645,NaN
78,Indonesia,0.632,0.642,0.643,0.647,0.658,0.665,0.673,0.681,0.687,0.690,0.695,0.703,0.707,0.712,0.718,NaN
88,Kenya,0.500,0.515,0.523,0.532,0.541,0.551,0.559,0.566,0.573,0.580,0.587,0.591,0.595,0.599,0.601,NaN
111,Mexico,0.737,0.745,0.746,0.748,0.748,0.748,0.755,0.759,0.756,0.761,0.766,0.768,0.771,0.776,0.779,NaN
125,Nigeria,0.465,0.473,0.478,0.484,0.490,0.482,0.492,0.500,0.519,0.523,0.526,0.526,0.531,0.534,0.539,NaN
180,United States,0.900,0.903,0.906,0.911,0.912,0.916,0.919,0.920,0.918,0.920,0.921,0.922,0.924,0.925,0.926,NaN

In [14]:
# Quality of life index
qoli_df = pd.read_csv("../raw_data/quality_of_life_index.csv")
cols = list(qoli_df.columns)
for y in YEAR_LIST:
    if cols.count(y) == 0:
        qoli_df[y] = np.nan
qoli_df = qoli_df[["Country"] + YEAR_LIST]
qoli_df

,Country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164.99,186.03,178.29,177.63,177.23,167.18,173.90,170.32,163.47
1,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.62,199.56,195.55,192.49,183.96,179.73,180.56,179.20,172.11
2,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.31,87.94,83.47,84.97,137.01,129.06,126.42,123.48,118.55
3,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.01,73.70,78.01,78.60,109.28,101.52,122.09,117.51,108.63
4,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.22,-12.54,21.85,22.70,72.19,62.02,112.89,107.20,97.47
5,Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-35.23,-6.96,-11.08,1.07,96.93,97.17,92.43,87.02,74.14
6,Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-22.17,7.59,5.41,-7.07,88.79,91.81,84.42,83.98,86.54
7,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.32,NaN,NaN,NaN,NaN,70.56
8,Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.99,NaN,NaN,NaN,NaN,55.65

In [15]:
# country and year dimensions as join keys
year_dim = pd.read_csv(YEAR_DIMENSION_CSV)
country_dim = pd.read_csv(COUNTRY_DIMENSION_CSV)
# dimensions to join
education_dim = pd.read_csv(EDUCATION_DIMENSION_CSV)
health_dim = pd.read_csv(HEALTH_DIMENSION_CSV)
life_quality_dim = pd.read_csv(LIFE_QUALITY_DIMENSION_CSV)
political_event_dim = pd.read_csv(POLITICAL_EVENT_DIMENSION_CSV)
population_dim = pd.read_csv(POPULATION_DIMENSION_CSV)

In [25]:
big_join = education_dim
big_join = big_join.merge(health_dim, on=["Country Code", "Year"])
big_join = big_join.merge(life_quality_dim, on=["Country Code", "Year"])
big_join = big_join.merge(political_event_dim, on=["Country Code", "Year"])
big_join = big_join.merge(population_dim, on=["Country Code", "Year"])
big_join = big_join[["Year", "Country Code", "education_key", "health_key", "life_quality_key", "population_key", "event_key"]]
big_join.columns

KeyError: "['event_key'] not in index"

In [16]:


fact_df = pd.DataFrame(columns=["country_key", "year_key", "education_key", "health_key", "life_quality_key", "population_key", "event_key", "quality_of_life_index", "development_index", "human_development_index"])
fact_df

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143

Empty DataFrame
Columns: [country_key, year_key, education_key, health_key, life_quality_key, population_key, event_key, quality_of_life_index, development_index, human_development_index]
Index: []