This script is to process the raw data in csv format and generate the `measures.csv` which will be used to create the database.

In [81]:
import pandas as pd
import numpy as np

from constants import FACT_TABLE_CSV, COUNTRY_LIST

In [82]:
YEAR_LIST = [str(i) for i in range(2005, 2021)]

In [83]:
# HDI data from UN only is only collected from 2005 to 2019
hdi_df = pd.read_csv("../raw_data/HDI.csv")
hdi_df = hdi_df[["Country"] + [str(i) for i in range(2005, 2020)]]
hdi_df["Country"] = hdi_df["Country"].str.strip()
hdi_df = hdi_df.loc[hdi_df["Country"].isin(COUNTRY_LIST)]
hdi_df["2020"] = np.nan
hdi_df

,Country,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
31,Canada,0.894,0.898,0.896,0.898,0.898,0.901,0.903,0.906,0.913,0.918,0.921,0.923,0.926,0.928,0.929,NaN
51,Egypt,0.637,0.645,0.653,0.660,0.662,0.668,0.671,0.677,0.683,0.685,0.691,0.696,0.698,0.701,0.707,NaN
77,India,0.536,0.546,0.555,0.563,0.569,0.579,0.588,0.597,0.604,0.616,0.624,0.630,0.640,0.642,0.645,NaN
78,Indonesia,0.632,0.642,0.643,0.647,0.658,0.665,0.673,0.681,0.687,0.690,0.695,0.703,0.707,0.712,0.718,NaN
88,Kenya,0.500,0.515,0.523,0.532,0.541,0.551,0.559,0.566,0.573,0.580,0.587,0.591,0.595,0.599,0.601,NaN
111,Mexico,0.737,0.745,0.746,0.748,0.748,0.748,0.755,0.759,0.756,0.761,0.766,0.768,0.771,0.776,0.779,NaN
125,Nigeria,0.465,0.473,0.478,0.484,0.490,0.482,0.492,0.500,0.519,0.523,0.526,0.526,0.531,0.534,0.539,NaN
180,United States,0.900,0.903,0.906,0.911,0.912,0.916,0.919,0.920,0.918,0.920,0.921,0.922,0.924,0.925,0.926,NaN